@import url("https://webfontworld.github.io/kopus/KoPubWorldBatang.css");

@font-face {
  font-family: "KoPubWorldBatang";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangLight.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangLight.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "KoPubWorldBatang";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangMedium.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangMedium.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangMedium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "KoPubWorldBatang";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangBold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangBold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangBold.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kopus/KoPubWorldBatangBold.ttf") format("truetype");
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  font-family: "KoPubWorldBatang";
}
h2,
h3 {
  line-height: 1.3;
}
ol,
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.blind,
caption {
  overflow: hidden;
  text-indent: -9999em;
  position: absolute;
  left: 0;
  top: 0;
}

img {
  vertical-align: top;
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
}

#skipNav {
}
#skipNav a {
  width: 100%;
  display: block;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: #000;
  position: fixed;
  left: 0;
  top: -1000px;
  z-index: 500;
}
#skipNav a:focus,
#skipNav a:hover,
#skipNav a:active {
  top: 0;
}
